.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;    
}

.calendar-container {
    border: none;
    width: 100%;
    height: 70%;  
}

.calendar {
    width: 100%;
    height: 70%;
}

.calendar-header {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}
.month-year{
    height: 25%;
    text-align:left;
    margin-left: 10px;
}
.calendar-header td {
    border-spacing: 0;  
}

.day,
.empty-slot,
.week-day {
    text-align: center;
}

.week-day {
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    height: 40px;
}

.day {
    font-size: 0.8em;
    color: white;
}

.day {
    cursor: pointer;
    width: 14.2857143%;
    height: 20%;
    line-height: 24px;
}

.current-day {
    background-color:white;
    width: 14.2857143%; 
    line-height: 24px;
    border-radius: 30px;
    color:rgb(32, 99, 187);
}
.selected-day {
    background-color:yellow;
    width: 14.2857143%;
    line-height: 24px;
    border-radius: 30px;
    color:rgb(32, 99, 187);
}

.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    color:  rgb(32, 99, 187);
    border: 2px solid rgb(32, 99, 187);
    border-radius: 10px;
}

.month-popup div {
    padding: 0.4em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.prev{
    color: white;
    font-size: .7em;
}

.next{color: white;
    font-size: .7em;
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    cursor: pointer;
}
.table-head{
    width: 100%;
    height: 20%;
}
.table-body{
    width: 100%;
    height: 80%;
}