.App {
  text-align: center;
}
.calendar-layout{
  width: 20vw;
  height: 50vh;
  background-color:rgb(32, 99, 187);
  margin-left: 78vw;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.calendar-layout-content{
  width: 77%;
  height: 90%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.calender-style-date{
  border-top:0.5px solid white;
  color: white;
  line-height: 40%;
  width:100%;
  height:25%; 
  text-align:left;
}

.calendar-app{
  width:100%;
  height:75%;
} 